.navbar-brand.me-2 {
    color: #172a38;
}

a, code a {
  color: #172a38;
}

a:hover, code a:hover {
  color: #99805c;
}

a:not([href]) {
  color: inherit;
}

a:not([href]):hover {
  color: inherit;
}
