.navbar-brand.me-2 {
    color: #172a38;
}

.nav-text.text-muted.me-auto {
  --bs-text-opacity: 1;
    color: #99805c !important;
}

a, code a {
  color: #172a38;
}

a:hover, code a:hover {
  color: #99805c;
}

a:not([href]) {
  color: inherit;
}

a:not([href]):hover {
  color: inherit;
}
